<div class="container-fluid">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th class="w-25" scope="col">Server Name</th>
            <th class="w-25" scope="col">Port Number</th>
            <th class="w-25" scope="col">Transport Protocol</th>
            <th class="w-25"scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <div *ngIf="!dataFetched" class="mt-5 ml-1">
            <div class="progress progress-bar-height">
              <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Fetching Data...</div>
            </div>
          </div>
          <tr *ngFor="let port of portsTable">
            <td>{{ port.name }}</td>
            <td>{{ port.numberPort }}</td>
            <td>{{ port.transportProtocol }}</td>
            <td>{{ port.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>